<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>
    <h1>Let's chat!</h1>

    <!-- action attribute decides where the form data should be sent after its submission -->
    <form action="" id="form">
        <!-- name is used as key when the data is submitted to the server -->
        <input type="text" name="message">
    </form>

    <script>
        // window.location.host returns the current host and port of the website. 
        // In my project, the host is 127.0.0.1:8000
        // host name identifies the machine, port identifies the application that is listening
        // ws: represents Web Socket protocol
        // In production, we use wss: protocol (Secure WebSocket)
        let url = `ws://${window.location.host}/ws/socket-server/`

        // Creates a websocket connection
        // Tells browser to open ws connection to server at this URL
        // request sent to routing and consumer object is created and calls connect() inside it
        const chatSocket = new WebSocket(url)

        // Runs whenever the server sends a msg through the ws
        // e inside function is an event object, contains information about the received message
        chatSocket.onmessage = function(e) {
            // The browser receives e.data as a string, we are converting it into object, so that we can access messages inside it
            let data = JSON.parse(e.data)
            console.log('Data:', data)
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e) => {
            // No browser refresh after form submission and no navigation to another URL
            e.preventDefault()
            let message = e.target.message.value

            // JSON.stringify() converts JS object into a JSON string
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()

        })

    </script>
</body>
</html>